
body{
    font-family: Tahoma Bold;
}

head{
    width: 400 px;
    background: white;
    padding: 30 px;
    margin: auto;
    margin-top:100px;
}
nav{
    
    height: 55px;
    width: 100 px;
    margin:0px;
    line-height: 55px;
    border-bottom: black 1px solid;
}
nav .navbar-brand{
    font-size:30pt;
    float: left;
    font-family: Tahoma Bold;
}
nav .navbar-text{
    float: right;
    color: black;
    text-decoration: none;
    margin-left: 40px;
}

.clearfix{
    clear:both;
}
main{
    padding-top: 0%;
    padding-left: 10%;
    padding-right: 10%;

}

.Usuario .gu{
    height: 55px;
    margin-left:40px;
    margin-bottom: 5px;
    margin-top: 40px;
    font-size: 20pt;
    
}

.Usuario .usuarios-boton{
    
    height: 55px;
    margin-top: 0px;
    margin-bottom: 5px;
    margin-left: 80px;
    text-align: left;
    line-height: 170%;
    font-weight: 800;
    height: 40px;
    margin-bottom: 30px;
    font-size: 20px;
}
.buscar{
    
    vertical-align:middle ;
    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: 80px;
}

.numero ul li {
    
    display:inline-block;
    vertical-align:middle ;   
}

.numero ul li a {
    float:right;
    color: black;
    text-decoration: none;
}
.editar{
    float: right;
}

.i-basica{
    border: gray 1px solid;
    margin-left:40px;
    margin-right: 160px;
    margin-bottom: 5px;
}  
.i-basica h3{
    margin-left:10px;
    font-size: 30px;

}
.i-basica .nombre{
    margin-left:5px;
}
.i-basica .lista{
    margin-left:5px;
}



section {
    border: gray 1px solid;
    margin-left:40px;
    margin-right: 160px;
    margin-bottom: 5px;
}

section .i-contacto{
    
    margin-left:5px;
    font-size: 30px;
}
section .telefono{
    margin-left:5px;
}

section .ingreso{
    margin-left:5px;
}

.controls1 {
    width: 20%;
    border: 1px ;
    border-radius:5px;
    margin-bottom: 10px;
    padding: 11px 10px;
    background: #efef91;
    font-size: 14px;
    font-weight: bold;
    font-family: Tahoma Bold;
}
.controls {
    width: 50%;
    border: 1px ;
    border-radius:5px;
    margin-bottom: 10px;
    padding: 11px 10px;
    background: #efef91;
    font-size: 14px;
    font-weight: bold;
    font-family: Tahoma Bold;
}

.buttons {
    width: 80px;
    height: 20px;
    background:  #030409;
    border: none;
    color: white;
    margin-left: 22px;
    border-radius:5px;
    text-align: center;

    position: sticky;
    top: 10px;
    left: 100px;
}

header .buttons1 {
    
    width: 80%;
    height: 25px;
    background:  #030409;
    border: none;
    color: white;
    margin:15px 30px ;
    border-radius:5px;
    text-align: center;
    position: relative;
    top: 10px;
    left: 100px;
    
}

