.text{
    text-decoration: none;
    font-size:x-small;
    margin-left: -10%;
}
.linea{
    margin: 0%;
}
.text1 {
    font-size: xx-large;
    font-family: tahoma;
    font-weight: bold;

}
.but {
    border-radius: 50px;
    margin-left: 5%;
    
    
}