* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

body{
    font-family: Tahoma Bold;
      /*background-image: url('Login.jpg');*/
}

.form-login {
    width: 300px;
    height: 340px;
    background: white;
    margin: auto;
    margin-top: 200px;
    padding: 10px 50px 20PX;
    /*box-shadow: 7px 13px 37px #000;*/
    padding: 20px 30px;
    color: black;   
}

.form-login h5 {
    margin: 0;
    text-align: left;
    line-height: 170%;
    font-weight: 800;
    height: 40px;
    margin-bottom: 30px;
    border-bottom: 2px solid;
    font-size: 30px;
}

.form-check-label{
    font-size: 14px;
}

.controls {
    width: 100%;
    border: 1px ;
    border-radius:5px;
    margin-bottom: 15px;
    padding: 11px 10px;
    background: #efef91;
    font-size: 14px;
    font-weight: bold;
    font-family: Tahoma Bold;
}

.form-check-input {
    display: inline-flex;
    align-items: left;
    cursor: pointer;
    font-family: Tahoma Bold;
    color: black;
}

.buttons {
    width: 50%;
    height: 25px;
    background:  #030409;
    border: none;
    color: white;
    margin-left: 22px;
    border-radius:5px;
    text-align: center;

    position: relative;
    top: 20px;
    left: 10px;
}

.form-login p{
    height: 60px;
    text-align: left;
    border-bottom: 2px solid ;
    
}

.form-login a{
   color: black;
   height: 40px;
   text-decoration: none;
   font-size: 14px;
   top: 30px;
   position: relative;
   font-family: Tahoma Bold;
   
   margin-bottom: 30px ;
 
  

}

/*Efecto del cursor*/
.form-login a:hover {
    text-decoration: underline;
}
